<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


</head>



<main class="messaging-container" ng-app="Communicant">
  <h3 class="message-title">Messages</h3>


  <form class="add-message" ng-controller="NewMessageController" ng-submit="submit()">
    <!-- <textarea class="add-message-body" ng-model="newMessage.body" placeholder="Type your message here..."></textarea> -->
    <select class="select-premessage" ng-model="newMessage.message.body" name="select">
      <option value="">Select an option</option>
      <option>Emergency happened, the schedule for today has been changed</option>
      <option>Emergency happened, the schedule for tomorrow has been changed</option>
      <option>No after school activities today, we need to go to the doctor</option>
      <option>No after school activities today, incident at school</option>
      <option>Incident at school, I will do the pick up</option>
      <option>Changed the pick up time for after school, I will take care of pick up</option>
      <option>Will be late to drop off, problem with the car</option>
      <option>Will be late to drop off, other reason</option>


    </select>
    <!-- {{newMessage.body}} -->
    <button class="message-send" type="submit" name="submit-message">Send</button>
  </form>





     <ul class="messaging-list" ng-controller="ListOfMessagesController">

       <i class="fa fa-refresh fa-spin" ng-hide="messages"></i>



        <li class="message-display" ng-repeat="message in messages| orderBy: '-date'"><!-- '-date' is reverse for 'date' or 'date':true -->

          <div class="message-name ng-cloak"><i class="fa fa-user"></i>
            {{message.name}}</div>

            <div class="message-time ng-cloak" ><i class="fa fa-clock-o"></i>
              {{message.created_at | date : short}}</div>
            <div class="message-date ng-cloak"><i class="fa fa-calendar"></i>
              {{message.date | date : short}}</div>
          <div class="message-body ng-cloak">{{message.body}}</div>
        </li>

     </ul>



  <!-- <%# link_to 'New Message', new_message_path %> -->
  <!-- <form class="add-messages" ng-controller="NewMessageController" ng-submit="submit()">
    <section class="select-premessages" placeholder="Select your message" ng-model="newMessage.body">
      <p>An event has been changed in your list of events</p>
      <p>An expense has been changed in your list of expenses</p>
      <p>A change in information panel</p>
    </section>
  </form> -->

</main><!--.messaging-container-->
</html>
