<main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>

      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>

  </nav>

</main>

<main class="messaging-container">

  <section class="chatbox">
    <ul class="messaging-list">
      <li class="message">
        <div class="message-name">{{message.name}}</div>
        <div class="message-date">{{message.date}}</div>
        <div class="message-time">{{message.time}}</div>
        <div class="message-body">{{message.body}}</div>
      </li>
    </ul>
  </section>
  <form class="add-message" method="post">
    <textarea class="add-message-body" placeholder="Type your message here..."></textarea>
    <button type="submit" name="submit-message">Send</button>
  </form>
</main><!--.messaging-container-->
