// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.events-header{
  font-style: Gill Sans;
  font-size: 35pt;
  font-weight: lighter;
  color: #004C80;
  margin-top: 10%;
  margin-bottom: 5%;
}

div.new-event{
 a{
  text-decoration: none;
  border: 1px solid #004C80;
  background-color: #004C80;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;;
  margin-left: 71%;
  //margin-bottom: 10%;
 }
}


table.events-table{
  margin-top: 2%;
  margin-left: 20%;
  border: 3px solid #004C80;
  border-radius: 5px;
  width: 60%;
}

thead.events-thead{
  border-bottom: 1px solid #004C80;
  tr.events-title-row{
    border-bottom: 1px solid #004C80;
    th{
      padding-top: 2%;
      padding-bottom: 1%;
      font-size: 1.3em;
      margin-right: 2%;
      color: #004C80;
      font-style: arial;
    }
  }
}

tbody.events-body-table{
tr.events-main-table{
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  border-bottom: 1px solid #004C80;
  }
}
  td{
    padding: 20px 5px 20px 5px;
  }

  td.title{
    width:40%;
    a{
      text-decoration: none;
      color: #004C80;
    }
  }
  // td.descrip{
  //   width: 20%;
  // }
  td.date{
    width: 20%;
    color: #004C80;
  }
  // td.time{
  //   width: 5%;
  // }
  // td.parent{
  //   width: 10%;
  // }
  td.child{
    width: 20%;
    color: #004C80;
  }
  td.pending{
    width: 20%;
  }
  // td.mediator{
  //   width: 10%;
  // }
 td.events-show{
   a{
    text-decoration: none;
    border: 1px solid #004C80;
    background-color: #004C80;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5%;
   }
 }
 td.events-edit{
   a{
    text-decoration: none;
    border: 1px solid #004C80;
    background-color: #004C80;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5%;
    }
 }
