// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.page-background{
  background-color: #FAF2EB;
}

h1.events-header{
  font-style: Gill Sans;
  font-size: 30pt;
  font-weight: lighter;
  color: #004C80;
  margin-top: 2%;
  margin-bottom: 3%;
}

div.new-event{
 a{
  text-decoration: none;
  border: 1px solid #004C80;
  background-color: #004C80;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px;;
  margin-left: 69%;
  font-size: 1.2;
  width: 15%;
  //margin-bottom: 10%;
 }
}






ul.events-body-table{
  margin-top: 2%;
  margin-left: 10%;
  border: 3px solid #004C80;
  border-radius: 5px;
  width: 75%;
li.events-main-table{
  list-style: none;
  border-bottom: 1px solid #004C80;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #004C80;
  div.title{
    text-align: center;
    //margin-left: 10%;
    display: inline-block;
    width: 20%;
    a{
      text-decoration: none;
      color: #004C80;
    }
  }
  div.child{
    text-align: center;
    display: inline-block;
    width: 18%;
    i.fa{
      margin-right: 2px;
    }
  }
  div.date{
    display: inline-block;
    text-align: center;
    width: 18%;
  }
  div.time{
    display: inline-block;
    text-align: center;
    width: 18%;
    i.fa{
      margin-right: 3px;
    }
  }
  div.location{
    padding-left: 2%;
    display: inline-block;
    text-align: center;
    margin-right: 1%;
    width: 20%;
  }
}
li:last-child{
  border-bottom:#FAF2EB;
}
}
