// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.page-background{
  background-color: #FAF2EB;
  font-family: Helvetica;
}

h1.events-header{
  font-style: Gill Sans;
  font-size: 30pt;
  font-weight: lighter;
  color: #004C80;
  margin-left: 15%;
}

div.new-event{
 a{
  text-decoration: none;
  border: 1px solid #004C80;
  background-color: #004C80;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-right: 9.5%;
  font-size: 1.3em;
  width: 15%;
  margin-top: -4%;
  margin-bottom: 2%;
  float: right;
 }
}






ul.events-body-table{
  margin-top: 2%;
  margin-left: 12%;
  width: 76%;
li.events-main-table{
  list-style: none;
  padding-bottom: 2%;
  color: #004C80;
  margin-left: 15%;
  width: 75%;
    .section {
    background-color: #DEEDFA;
    border-radius: 5px;
  	clear: both;
  	padding: 3px;
  	margin: 0px;
    }
    .col {
  	display: block;
  	float:left;
  	margin: 1% 0 1% 1.6%;
    }
    .col:first-child { margin-left: 0;
    }
    .group:before,
    .group:after {
    	content:"";
    	display:table;
    }
    .group:after {
    	clear:both;
    }
    .group {
        zoom:1; /* For IE 6/7 */
    }
    .span-1-of-8 {
      	width: 11.1%;
    }
    .span-2-of-8{
      width: 23.8%;
    }



  div.title{
      font-weight: bolder;
      text-decoration: none;
      color: #004C80;
      padding-left: 10px;
  }
  div.child{
    i.fa{
      margin-right: 2px;
    }
  }
  div.date{
  }
  div.time{
    i.fa{
      margin-right: 3px;
    }

  }
  div.location{
    i.fa{
      margin-right: 1px;
    }
  }
  div.approved{
    text-align: right;
  }
  div.pending-approval{
    text-align: right;
  }
}
li:last-child{
  border-bottom:#FAF2EB;
}
}

@media (max-width: 567px) {           //MOBILE

  div.new-event{
   a{
    margin-bottom: 1%;
    margin-left: 15%;
    width: 100%;
   }
  }
  ul.events-body-table{
    li.events-main-table{
      div.section {
      background-color: #DEEDFA;
      border-radius: 5px;
      margin-left: 0%;
      div.title{
        width: 80%;
        margin-bottom: 7px;
      }
      div.child{
        width: 50%;
        margin-bottom: 7px;
      }
      div.date{
        width: 80%;
        margin-bottom: 7px;
      }
      div.time{
        width: 80%;
        margin-bottom: 7px;
      }
      div.location{
        width: 80%;
        margin-bottom: 7px;
      }
      div.pending-approval{
        width: 80%;
        text-align: left;
      }

    }
  }
}
div.new-event{
 a{
  text-decoration: none;
  border: 1px solid #004C80;
  background-color: #004C80;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-right: 9.5%;
  font-size: 1.3em;
  width: 75%;
  margin-top: 1%;
 }
 }
} //END OF MOBILE




@media (max-width: 1024px) and (min-width: 568px){      //TABLET

  h1.events-header{
    margin-left: 7%;
  }
  div.new-event{
   a{
    margin-bottom: 1%;
    margin-left: 10%;
    width: 70%;
   }
  }
  ul.events-body-table{
    li.events-main-table{
      margin-left: 5%;
      div.section {
      background-color: #DEEDFA;
      border-radius: 5px;
      div.time{
        text-align: right;
      }
      div.location{
      }
      div.approved{
        text-align: right;
        margin-left: -0.5%;
      }
      div.pending-approval{
        width: 20%;
        text-align: right;
      }
      .span-1-of-8 {
        	width: 20%;
      }
      .span-2-of-8{
        width: 45%;
      }
    }
  }
}
div.new-event{
 a{
  text-decoration: none;
  border: 1px solid #004C80;
  background-color: #004C80;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  margin-right: 20%;
  font-size: 1.3em;
  width: 75%;
  margin-top: 1%;
 }
 }
} //END OF TABLET
