.page-background {
  background-color: #FAF2EB;
}

section.expenses-container {
  width: 70%;
  margin-left: 15%; margin-right: 15%; margin-top: 25px;
  border-radius: 5px;
}

form.new-expense {
  margin-bottom: 2%;

  label {
    font-family: Helvetica;
  }
}

section.expense-tab {
  padding-bottom: 9px; padding-left: 8px; padding-right: 8px;
  border-radius: 5px;
  display: block;
  background-color: #DEEDFA;
}

section.blue {
  background-color: #DEEDFA;
}

// section.red {
//   background-color: red;
//   div {
//     color: white;
//   }
// }

.expenses-label {
  font-family: Gill Sans;
  font-weight: lighter;
  font-size: 35pt;
  font-weight: lighter;
  color: #004C80;
  text-align: left;
  margin-bottom: 15px;
  // margin-left: 3.5%;
}
ul.expenses-listing{
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
}

div.expenses-scroll {
  margin-bottom: 5%;
  position: relative;
  border-radius: 3px;
}

li, ul {
  list-style: none;
}

li.expenses-item {
  width: 100%;
  margin-top: 10px;
}

div.expense-type, div.expense-amount {
  color: #636363;
  font-size: 12pt;
  font-family: Helvetica;
}

div.expense-type {
  font-weight: 600;
  display: inline-block;
  margin-top: 10px; margin-left: 10px;
}

div.expense-amount {
  width: 20%;
  float: right;
  margin-top: 10px;
  text-align: right;
  font-weight: 600;
}

div.expense-due {
  width: 30%;
  display: inline-block;
  font-weight: 600;
  color: #636363;
  font-family: Helvetica;
  font-size: 12pt;
}

ul.payments-listing {
  color: #636363;
  background-color: #DEEDFA;
  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
  font-family: Helvetica;
  font-size: 11pt;
  padding-bottom: 3px; padding-left: -5px; padding-right: 3%;
}

div.payment-paid-by {
  width: 30%;
  display: inline-block;
}

li.payments-item {
  margin-bottom: 10px;
}

div.payment-paid-at {
  width: 30%;
  display: inline-block;
}

div.payment-paid-amount {
  width: 30%;
  padding-right: 8px;
  text-align: right;
  display: inline-block;
  float: right;
}

form.add-payment-form {
  // margin-left: -5px;
  padding-bottom: 5px; padding-top: 5px;

  input {
    padding-left: 5px;
    border: 1px solid gray;
  }

  label {
    font-family: Helvetica;
  }
}

button.submit-payment-button {
  -moz-appearance: none;
  appearance: none;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: lighter;
  background-color: #004C80;
  color: white;
  border: 0px solid;
  line-height: 1;
  border-radius: 5px;
  float: right;
  padding-top: 4px;
  margin-right: 4px;
}

input.np-amt {
  -moz-appearance: none;
  appearance: none;
  margin-right: 1%;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1;
  border: 1px solid gray;
  border-radius: 5px;
}

label.amt-label {
  padding-right: 5px;
}

div.expense-amt-stl-o {
  font-family: Helvetica;
  font-size: 12pt;
  text-align: right;
  margin-bottom: 7px; margin-top: 7px;
  padding-top: 3px; padding-bottom: 3px; padding-right: 8px;
  background-color: #FAF2EB;
}

input[type=checkbox] {
	-webkit-appearance: none;
  width: 1em;
  height: 1em;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

input[type=checkbox]:after {
  content: '+';
  border: 1px solid #636363;
  border-radius: 3px;
  padding: 0 4px 2px 4px;
  font-size: 12pt;
  background-color: #636363;
  color: white;
}

input.open[type=checkbox]:active {
  content: '-';
  font-size: 14pt;
}

select.expense-type {
  -moz-appearance: none;
  appearance: none;
  width: 85%;
  margin-top: 2px;
  font-family: Helvetica;
  font-size: 15pt;
  font-weight: lighter;
  padding-top: 4px;
  padding-bottom: 2%;
  background-color: #004C80;
  color: white;
  line-height: 1.5;
}

select.expense-type:hover {
  background-color: #195d8c;
}

input.amount-due {
  -moz-appearance: none;
  appearance: none;
  margin-right: 1%;
  font-family: Helvetica;
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 1.5;
  border: 1px solid gray;
  border-radius: 5px;
}

input.payment-due-time {
  -moz-appearance: none;
  appearance: none;
  margin-right: 1%;
  font-family: Helvetica;
  font-size: 1.3em;
  font-weight: lighter;
  line-height: 1.5;
  border: 1px solid gray;
  border-radius: 5px;
}

button.submit-button {
  -moz-appearance: none;
  appearance: none;
  font-family: Helvetica;
  font-size: 1.3em;
  font-weight: lighter;
  background-color: #004C80;
  color: white;
  border-top: 1px solid #FAF2EB; border-left: 1px solid #FAF2EB; border-bottom: 1px solid #636363; border-right: 1px solid #636363;
  margin-top: 18px;
  line-height: 1.5;
  border-radius: 5px;
  float: right;
}

label {
  color: #636363;
}

hr.payments-divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0px; margin-left: -40px; margin-right: -3%;
}

.new-e-dropdown {
  background-color: #004C80;
  color: white;
  padding: 3px;
  width: 150px;
  margin-bottom: 35px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.3em;
  font-family: Helvetica;
  font-weight: lighter;
  display: none;
  margin-left: 39.5%;
}

.new-e-dropdown:hover {
  cursor: pointer;
}

.new-e-container {
  width: 100%;
  display: inline-table;
}

.ng-cloak {
  display: none !important;
}

@media only screen and (max-width: 1100px){
  button.submit-button {
    width: 50%;
    margin-left: 25%; margin-bottom: 2%;
    float: left;
  }
}

@media only screen and (max-width: 1000px){
  section.tablet-label {
    width: 100%;
    box-sizing: border-box;
    display: table;
  }

  section.new-e-container {
    display: none;
  }

  .new-e-container.active {
    display: table;
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  div.new-e-dropdown {
    display: inherit;
    font-size: 1.5em;
    width: 35%;
    float: right;
    margin-left: 0px; margin-bottom: 0px; margin-top: 30px;
  }

  form.new-expense {
    width: 70%;
    margin-left: 15%;
    padding-top: 10px; padding-bottom: 10px;

    label {
      font-family: Helvetica;

      input, select {
        width: 100%;
      }
    }
  }

  h3.expenses-label {
    width: 40%;
    display: inline-block;
  }
}

@media only screen and (max-width: 720px){
  section.expenses-container {
    width: 90%;
    margin-left: 5%;
  }

  h3.expenses-label {
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 4em;
  }

  div.new-e-dropdown {
    float: left;
    width: 100%;
    font-size: 2em;
  }

  div.expense-due {
    width: 50%;
  }
}
