main.header-container{
  background-color: #004C80;
  opacity: 0.9;
  padding-bottom: 1px;

}
h2{
  text-align: center;
  font-size: 60pt;
  letter-spacing: 3px;
  margin-top: -8px; margin-bottom: 5px;
  padding-top: 10px; padding-bottom: 10px;
  color: white;
  font-family: Asenine;
}
nav.header-navig{
  width: 100%;
  float: left;
  margin-top: 8px;
  padding-top: 8px; padding-bottom: 8px;
  background-color: white;
  opacity: 0.8;
}
section.tabs-header{
  a{
    font-size: 1.2em;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    }
  a:hover{
    opacity: 1;
    color: #242424;
    background-color: #C9EDFF;
    }
  section.tabs-right{
    float: right;
  }
  a.header-profile:hover{
    background-color: #D2691E;
  }
  a.header-log-out:hover{
    background-color: #D2691E;
  }
}
