
main.header-container{
  background-color: #004C80;
  opacity: 0.9;
  width: 102%;
  padding-top: 5px;
  font-family: Lato;
}
h2{
  text-align: center;
  font-size: 35pt;
  letter-spacing: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 5px; padding-bottom: 5px;
  color: white;
  font-family: Asenine;
}
nav.header-navig{
  width: 100%;
  margin-bottom: 15px;
  padding-top: 12px; padding-bottom: 10px;
  background-color: white;
  opacity: 0.8;
}
section.tabs-header{
  padding-left: 2%;
  a{
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    }

  a:hover{
    opacity: 1;
    color: white;
    background-color: #004C80;
    }
  a.head-resp:hover{
    opacity: 1;
    color: white;
    background-color: #004C80;
    }

  a.header-log-out{
    float: right;
    margin-right: 5%;
    margin-top: -.5%;
  }
  a.stay-blue{
    color: white;
    background-color: #004C80;
  }
}


@media screen and (max-width: 575px) {           //MOBILE
  section.tabs-header{
    padding-left: 2%;
    a.head-resp{
      display: block;
      font-size: 1.2em;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
      color: black;
      background-color: white;
      width: 90%;
      text-align: center;
      margin-left: 5%;
      }
      // a.head-resp-out{
      //   display: block;
      //   width: 80%;
      //   float: left;
      //   text-align: center;
      // }
      a.stay-blue{
        color: white;
        background-color: #004C80;
      }
 }
}

@media (max-width: 774px) and (min-width: 576px){      //TABLET
  section.tabs-header{
    padding-left: 2%;
    display: table;
    a.head-resp{
      display: inline-block;
      font-size: 1.2em;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
      color: black;
      background-color: white;
      width: 237px;
      margin-bottom: 5px;
      text-align: center;
      margin-left: 10%;
      }
    a:last-child{
      width: 250px;
      margin-left: 225px;
      margin-top: 5px;
      float: left;
    }
    a.head-resp:hover{
      opacity: 1;
      color: white;
      background-color: #004C80;
      }
    a.head-resp:nth-child(2){
      margin-left: 4%;
    }
    a.head-resp:nth-child(4){
      margin-left: 4%;
    }

    // a.head-resp-out{
    //   display: block;
    //   width: 50%;
    //   float: left;
    // }
    a.stay-blue{
      color: white;
      background-color: #004C80;
    }
   }
}
@media (max-width: 1024px) and (min-width: 775px){      //TABLET2
  section.tabs-header{
    padding-left: 2%;
    display: table;
    a.head-resp{
      display: inline-block;
      font-size: 1.2em;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
      color: black;
      background-color: white;
      width: 240px;
      margin-bottom: 5px;
      text-align: center;
      margin-left: 15%;
      }
    a:last-child{
      width: 260px;
      margin-left: 270px;
      margin-top: 5px;
      float: left;
    }
    a.head-resp:hover{
      opacity: 1;
      color: white;
      background-color: #004C80;
      }
    a.head-resp:nth-child(2){
      margin-left: 10%;
    }
    a.head-resp:nth-child(4){
      margin-left: 10%;
    }

    // a.head-resp-out{
    //   display: block;
    //   width: 50%;
    //   float: left;
    // }
    a.stay-blue{
      color: white;
      background-color: #004C80;
    }
   }
}


@media (min-width: 1025px) {            //DESKTOP

  section.tabs-header{
    padding-left: 2%;
    a{
      font-size: 1.2em;
      border-radius: 5px;
      padding: 5px;
      margin-left: 5px;
      margin-right: 10px;
      text-decoration: none;
      color: black;
      background-color: white;
      }
      a.header-log-out{
        float: right;
        margin-right: 5%;
        margin-top: -.5%;
      }
  }
}
