.messaging-container{
  font-family: Helvetica;
  h3.message-title{
    font-style: Gill Sans;
    font-size: 35pt;
    font-weight: lighter;
    color: #004C80;
    margin-top: 1%;
    margin-left: 15%;
    height: auto;
    margin-bottom: 0%;
  }
  form.add-messages{
    margin-left: 8%;
  }
  select.select-premessage{
   -moz-appearance: none;
   appearance: none;
   width: 85%;
   margin-top: 2%;
   margin-right: 1%;
   font-size: 1.5em;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
   background-color: #004C80;
   color: white;
   line-height: 1.5;
  }
  button.message-send{
   width: 12%;
   background-color: #004C80;
   color: white;
   border-radius: 5px;
   padding: 2px 5px;
   border: 1px solid #004C80;
   margin-right: 0;
   margin-top: -0.5%;
   font-size: 1.2em;
  }
  .ng-cloak{
    display: none !important;
  }


  i.fa-spin{
    margin:10px 50%;
    color: #004C80;
    font-size: 2em;
  }

  ul.messaging-list{
    width: 73%;
    margin-top: 1%;
    margin-left: 13%;

    li.message-display{
      color: #004C80;
      margin-left: -2%;
      margin-top: 2%;
      margin-bottom: 2%;
      background-color: #DEEDFA;
      margin-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 5px;
      list-style-type: none;
      width: 100%;
      div{
        margin-top: 2%;
        margin-bottom: 2%;
      }

      div.message-name{
        text-align: left;
        font-weight: bold;
        font-size: 1.1em;
        display: inline-block;
        width: 40%;
      }

      div.message-time{
        margin-left: 5%;
        text-align: right;
        display: inline-block;
        width: 20%;
      }
      div.message-date{
        text-align: center;
        margin-left: 13%;
        display: inline-block;
        width: 20%;
      }
      div.message-body{
        padding-bottom: 7px;
        font-size: 1.1em;
        margin-top: -3px;
      }

    }

  }
  form.add-message{
    width: 70%;
    margin-left: 15%;
  }
}


@media (max-width: 567px) {           //MOBILE
 .messaging-container{
   margin: 10px auto;
   form.add-message{
     margin-left: 13%;
     width: 73%;
   }
   select.select-premessage{
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 5px;
    font-size: 1.5em;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #004C80;
    color: white;
    line-height: 1.5;
   }
   button.message-send{
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    background-color: #004C80;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid #004C80;
    margin-right: 0;
    font-size: 1.2em;
   }
   .ng-cloak{
     display: none !important;
   }

  ul.messaging-list{
    width: 84%;
    margin-top: 5px;

    li.message-display{
      color: #004C80;
      margin-left: -15%;
      margin-top: 2%;
      margin-bottom: 2%;
      background-color: #DEEDFA;
      margin-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 5px;
      list-style-type: none;
      width: 100%;
      div{
        margin-top: 2%;
        margin-bottom: 2%;
      }

      div.message-name{
        text-align: left;
        font-weight: bold;
        font-size: 1.1em;
        width: 80%;
      }

      div.message-time{
        margin-left: 0%;
        text-align: left;
        width: 50%;
      }
      div.message-date{
        text-align: left;
        margin-left: 0%;
        width: 50%;
      }
      div.message-body{
        padding-bottom: 7px;
        font-size: 1.1em;
      }
    }

  }
 }
 }





@media (max-width: 1024px) and (min-width: 568px){      //TABLET
  .messaging-container{
    select.select-premessage{
     -moz-appearance: none;
     appearance: none;
     width: 85%;
     margin-top: 2%;
     margin-right: 1%;
     font-size: 1.5em;
     padding-top: 2.5%;
     padding-bottom: 2.5%;
     background-color: #004C80;
     color: white;
     line-height: 1.5;
    }
    button.message-send{
     width: 12%;
     background-color: #004C80;
     color: white;
     border-radius: 5px;
     padding: 2px 5px;
     border: 1px solid #004C80;
     margin-right: 0;
     margin-top: -0.5%;
     font-size: 1.2em;
    }
    .ng-cloak{
      display: none !important;
    }

  ul.messaging-list{
    width: 73%;
    margin-top: 1%;
    margin-left: 13%;

    li.message-display{
      color: #004C80;
      margin-left: -5%;
      margin-top: 2%;
      margin-bottom: 2%;
      background-color: #DEEDFA;
      margin-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 5px;
      list-style-type: none;
      width: 100%;
      div{
        margin-top: 2%;
        margin-bottom: 2%;
      }

      div.message-name{
        text-align: left;
        font-weight: bold;
        font-size: 1.1em;
        display: inline-block;
        width: 80%;
      }

      div.message-time{
        margin-left: 5%;
        text-align: left;
        width: 25%;
      }
      div.message-date{
        text-align: left;
        margin-left: 0%;
        width: 28%;
      }
      div.message-body{
        padding-bottom: 7px;
        font-size: 1.1em;
      }
    }

  }

}
}
