section.update-event-container{
  border: 2px solid #004C80;
  border-radius: 5px;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  padding-bottom: 3%;
  padding-top: 2%;
  color: #004C80;

  select.new-event-select{
    margin-left: 9%;
    width: 80%;
    padding: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  div.field{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .update-title-field{
    margin-left: 9.5%;
    width: 80%;

  }
  .update-description-field{
    width: 80%;
  }
  .update-date-label{
    margin-right: 8.8%;
  }
  .update-time-label{
    margin-right: 8.8%;
  }
  .update-parent{
    width: 80%;
    margin-left: 7%;
  }
  .update-child{
    width: 80%;
    margin-left: 8.6%;
  }
  .update-mediator{
    width: 80%;
    margin-left: 4%;
  }
  .update-pending{
    margin-right: 5%;
  }
  .update-submit{
    border: 1px solid #004C80;
    background-color: #004C80;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 13%;
    font-size: 1em;
    margin-top: -0.4%;
    position: absolute;
  }
.update-details{
  border: 1px solid #004C80;
  background-color: #004C80;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 45%;
  text-decoration: none;
}
.update-back{
  border: 1px solid #004C80;
  background-color: #004C80;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
}
