h1.profile-header{
  font-style: Gill Sans;
  font-size: 30pt;
  font-weight: lighter;
  color: #004C80;
  margin-top: 2%;
  display: inline;
  margin-left: 15%;
}

span.case_number{
  font-size: 14pt;
}
span.new-profile{
display: inline;
  a{
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid #004C80;
    background-color: #004C80;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 5px;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
  }

  a.profile-case{
    margin-right: 10%;
  }
}

ul.events-body-table{
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  li.events-main-table{
    padding-left: 0px;
    div.profiles{
      padding-left: 10px;

    }
  }
}

section.cases-label-container {
  width: 100%;
}
@media (max-width: 567px) {           //MOBILE


}

@media (max-width: 1024px) and (min-width: 568px){      //TABLET
  

}

@media (min-width: 1025px) {            //DESKTOP


}
