<main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>

      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>

  </nav>

</main>

<section class="expenses-container" ng-app="Communicant">
  <div class="expenses-scroll">
    <ul class="expenses-listing" ng-controller="ListExpensesController">
      <li class="expenses-item" ng-repeat="expense in expenses">
        <div class="expense-type">{{expense.type}}: Due ({{expense.due_at | date : medium : timezone }})</div>
        <div class="expense-amount">{{expense.amount | currency}}</div>
        <ul class="payments-listing">
          <li class="payments-item" ng-repeat="payment in expense.payments">
            <div class="payment-paid-by">{{payment.paid_by}}</div>
            <div class="payment-paid-at">{{payment.paid_at}}</div>
            <div class="payment-paid-amount">{{payment.amount | currency}}</div>
          </li>
          <form name="new-payment" method="post" ng-controller="NewPaymentController" ng-submit="submit()">
            <label>Amount<input type="number" ng-model="newPayment.payment.amount"></input></label>
            <input ng-model="newPayment.payment.expense_id">{{expense.id}}</input>
            <button type="submit" name="submit-expense" class="submit-payment-button">Add Payment</button>
          </form>
        </ul>
      </li>
    </ul>
  </div>

  <form name="new-expense" method="post" ng-controller="NewExpenseController" ng-submit="submit()">
    <select class="expense-type" ng-model="newExpense.type">
      <option value="School">School</option>
      <option value="Medical">Medical</option>
      <option value="Personal">Personal</option>
      <option value="Other">Other</option>
    </select>
    <label>Amount<input type="number" ng-model="newExpense.amount" class="amount-due"></input></label>
    <label>Due<input type="datetime-local" ng-model="newExpense.due_at" class="payment-due-time"></input></label>
    <button type="submit" name="submit-expense" class="submit-button">Submit</button>
  </form>
</section><!--.expense-container-->
