<!-- <main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>

      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>

  </nav>

</main> -->
<body class="page-background">
  <section class="expenses-container" ng-app="Communicant">
    <div ng-controller="ListExpensesController">

      <form name="new-expense" method="post" ng-submit="submitExpense()" class="new-expense">
        <label>Expense Type<select class="expense-type" ng-model="newExpense.type">
          <option value="School">School</option>
          <option value="Medical">Medical</option>
          <option value="Personal">Personal</option>
          <option value="Other">Other</option>
        </select></label>
        <label>Amount<input type="number" ng-model="newExpense.amount" class="amount-due"></input></label>
        <label>Due<input type="datetime-local" ng-model="newExpense.due_at" class="payment-due-time"></input></label>
        <button type="submit" name="submit-expense" class="submit-button">Submit</button>
      </form>

      <div class="expenses-scroll">
        <ul class="expenses-listing">
          <li class="expenses-item" ng-repeat="expense in expenses">
            <section class="expense-tab">
              <input type="checkbox" ng-model="collapse"></input>
              <div class="expense-type">{{expense.type}}: Due ({{expense.due_at | date : medium : timezone }})</div>
              <div class="expense-amount">{{expense.amount | currency}}</div>
            </section>
            <ul class="payments-listing" ng-show="collapse">
              <form name="new-payment" method="post" ng-submit="submitPayment(expense.id)" class="add-payment-form">
                <label>Amount <input type="number" ng-model="newPayment.payment.amount"></input></label>
                <button type="submit" name="submit-expense" class="submit-payment-button">Add Payment</button>
              </form>
              <li class="payments-item" ng-repeat="payment in expense.payments">
                <div class="payment-paid-by">{{payment.paid_by}}</div>
                <div class="payment-paid-at">{{payment.paid_at}}</div>
                <div class="payment-paid-amount">{{payment.amount | currency}}</div>
              </li>
            </ul><hr />
            <div class="expense-amt-stl-o">Total Still Due: {{expense.amount_still_owed | currency}}</div>
          </li>
        </ul>
      </div>

    </div>
  </section><!--.expense-container-->
</body><!--.page-background-->
