<!-- <main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>
      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>
  </nav>
</main> -->
<body class="page-background">
  <section class="expenses-container" ng-app="Communicant">
    <div ng-controller="ListExpensesController">
      <section class="tablet-label">
        <h3 class="expenses-label">Expenses</h3>
        <div class="new-e-dropdown">Add New Expense</div>
      </section>
      <section class="new-e-container slideInDown">
        <form name="new-expense" method="post" ng-submit="submitExpense()" class="new-expense">
          <label>Expense Type<select class="expense-type" ng-model="newExpense.type">
            <option value="">Select a Type</option>
            <option value="School">School</option>
            <option value="Medical">Medical</option>
            <option value="Personal">Personal</option>
            <option value="Other">Other</option>
          </select></label>
          <label>Amount<input type="number" ng-model="newExpense.amount" class="amount-due" placeholder=" Select an Amount"></input></label>
          <label>Due<input type="date" ng-model="newExpense.due_at" class="payment-due-time"></input></label>
          <button type="submit" name="submit-expense" class="submit-button">Submit</button>
        </form>
      </section>

      <div class="expenses-scroll">
        <ul class="expenses-listing">
          <i class="fa fa-refresh fa-spin" ng-hide="expenses"></i>
          <li class="expenses-item" ng-repeat="expense in expenses">
            <section class="expense-tab" ng-class="{true: 'blue', false: 'red'}[expense.due_at > Date.now()]">
              <input type="checkbox" ng-model="collapse"></input>
              <div class="expense-type">{{expense.type}}:</div>
              <div class="expense-due"> Due ({{expense.due_at | date : medium : timezone }})</div>
              <div class="expense-amount">{{expense.amount | currency}}</div>
            </section>
            <ul class="payments-listing" ng-show="collapse">
              <form name="new-payment" method="post" ng-submit="submitPayment(expense.id)" class="add-payment-form">
                <label class="amt-label">Amount </label><input type="number" ng-model="newPayment.payment.amount" class="np-amt"></input>
                <button type="submit" name="submit-expense" class="submit-payment-button">Add Payment</button>
              </form>
              <li class="payments-item slideInDown" ng-repeat="payment in expense.payments">
                <div class="payment-paid-by">{{payment.paid_by}}</div>
                <div class="payment-paid-at">Applied on: {{payment.paid_at}}</div>
                <div class="payment-paid-amount">{{payment.amount | currency}}</div>
              </li><hr class="payments-divider" />
            </ul>
            <div class="expense-amt-stl-o"><strong>Total Still Due:</strong> {{expense.amount_still_owed | currency}}</div>
          </li>
        </ul>
      </div>

    </div>
  </section><!--.expense-container-->
</body><!--.page-background-->
