<main class="header-container">
  <header>
    <h2>Communicant</h2>
  </header>
  <nav class="header-navig">
    <section class="tabs-header">
        <a href="#">Expenses</a>
        <a href="#">Inbox</a>
        <a href="#">Calendar</a>
        <a href="#">Information</a>

      <section class="tabs-right">
        <a class="header-profile" href="#">Profile</a>
        <a class="header-log-out" href="#">Log out</a>
      </section>
   </section>

  </nav>

</main>

<main class="expenses-container" ng-app="Communicant">


<h3 class="expenses-label">Expenses</h3>
<div class="chatbox-scroll">
    <ul class="expense-list" ng-controller="ListMessagesController">
      <li class="expense-item" ng-repeat="message in messages">
        <div>{{expenses.type}} : Due( {{expenses.due_at}} )</div>
        <div>{{expenses.amount}}</div>
          <!-- <ul class="payments-made">
            <li class="single-payment" ng-repeat="payment in payments">
              <div>{{payment.paid_by}}</div>
              <div>{{payment.amount}}</div>
              <div>{{payment.created_at}}</div>
              <div>{{payment.updated_at}}</div>
            </li>
          <ul>-->
      </li>
    </ul>
</div>
<!-- <form class="new-expense">
  <input
</form> -->
</main><!--.messaging-container-->
